.IZ-select {
  outline: none;
  width: 100%;

  img {
    width: 100px;
    display: block;
    margin-right: 5px;
  }
}

.IZ-select__input {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: background 0.8s;
}

.IZ-select__input:not(.IZ-select__input--disabled).IZ-select__input:not(.IZ-select__input--readonly) {
  background-position: center;
}

.IZ-select__input:not(.IZ-select__input--disabled).IZ-select__input:not(.IZ-select__input--readonly):hover {
  background: #fbfbfb radial-gradient(circle, transparent 1%, #fbfbfb 1%) center/15000%;
}

.IZ-select__input:not(.IZ-select__input--disabled).IZ-select__input:not(.IZ-select__input--readonly):active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s;
}

.IZ-select__input.IZ-select__input--has-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.IZ-select__input.IZ-select__input--selection-slot {
  padding-left: 20px;
}

.IZ-select__input.IZ-select__input--selection-slot input {
  padding-left: 10px;
}

.IZ-select__input.IZ-select__input--has-error {
  box-shadow: 0 3px 1px -2px rgba(255, 0, 0, 0.2), 0px 2px 2px 0px rgba(255, 0, 0, 0.14), 0px 1px 5px 0px rgba(255, 0, 0, 0.12);
  border: 1px solid #ff5252 !important;
  caret-color: #ff5252 !important;
}

.IZ-select__input.IZ-select__input--has-error input {
  color: #ff5252 !important;
}

.IZ-select__input.IZ-select__input--disabled {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.01);
}

.IZ-select__input.IZ-select__input--disabled input {
  color: #4a4a4a !important;
}

.IZ-select__input.IZ-select__input--disabled input::placeholder {
  color: #474747;
}

.IZ-select__input input {
  background-size: 25px 25px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  color: #171a1d !important;
  background-color: transparent;
  padding: 10px 10px;
  border-style: none;
  pointer-events: auto;
  flex: 1 1;
  margin-top: 0;
  min-width: 0;
  position: relative;
  line-height: 20px;
  max-width: 100%;
  width: 100%;
  font-size: 16px;
}

.IZ-select__input input:focus {
  outline: none;
}

.IZ-select__input input:disabled {
  pointer-events: none;
}

.IZ-select__menu {
  position: absolute;
  z-index: 8;
  transform-origin: left top 0;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 8px 0 8px;
  border: 1px solid #ced4da;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.IZ-select__menu .IZ-select__no-data {
  margin: 0 10px;
}

.IZ-select__menu.IZ-select__menu--disable-search {
  border-top: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.IZ-select__item {
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  border-bottom: 1px solid #dcdcdc;
}

.IZ-select__item:hover {
  background-color: #f2f2f2;
}

.IZ-select__item.IZ-select__item--selected {
  color: #1976d2 !important;
}

.IZ-select__error {
  margin-top: 0.55rem;
  font-size: 85%;
  color: #ff5252;
}
